/* 
 * Large than 768px screen
 */
@media (min-width: 768px) {
  /* Common components */
  .container {
    padding: 24px;
  }
  .title-1 {
    --fs-title-1: 2.4rem;
  }
  .section > .title-2 {
    margin-block-end: 16px;
  }
  .card-lg {
    padding: 24px;
  }
  .card-sm {
    padding: 20px;
    display: grid;
    grid-template-rows: min-content 1fr;
  }
  .badge {
    top: 20px;
    right: 20px;
  }

  /* Header */
  .header-actions {
    gap: 24px;
  }
  .header .btn-primary {
    padding-inline: 16px 24px;
  }
  .header .btn-primary .text {
    display: block;
  }
  .search-container {
    clip-path: circle(3% at calc(100% - 273px) 6%);
  }

  /* Main */
  main {
    height: calc(100vh - 96px);
    height: calc(100svh - 96px);
  }
  article.container {
    padding-block-start: 0;
    grid-template-columns: 280px minmax(0, 1fr);
    align-items: flex-start;
    gap: 24px;
  }
  .content-left {
    position: sticky;
    top: 0;
  }
  .section:not(:last-child) {
    margin-block: 20px;
  }
  .forecast-card .card-item:not(:last-child) {
    margin-block-end: 16px;
  }
  .hightlight__list {
    grid-template-columns: 1fr 1fr;
  }
  .hightlight-card:nth-child(-n + 2) {
    grid-column: span 2;
    height: 160px;
  }
  .hightlight-card:nth-child(n + 3) {
    height: 120px;
  }
  .hightlights .m-icon {
    font-size: 3.6rem;
  }
  .hightlight-card.one .card-item {
    width: 25%;
    flex-direction: column-reverse;
    gap: 8px;
  }
  .slider-container {
    margin-inline: 0 -24px;
    border-bottom-left-radius: var(--border-radius-16);
    border-top-left-radius: var(--border-radius-16);
  }
  .slider-list::before {
    display: none;
  }
  .slider-list::after {
    min-width: 12px;
  }
  .hourly-forecast .card-sm {
    padding: 16px;
  }
}

/* 
 * Large than 1200px screen
 */
@media (min-width: 1200px) {
  /* Font size */
  :root {
    --fs-heading: 8rem;
    --fs-title-2: 2rem;
  }

  /* Common components */
  .container {
    padding: 40px;
  }
  .card-lg {
    padding: 36px;
  }
  .card-sm {
    padding: 24px;
  }
  .title-1 {
    --fs-title-1: 3.6rem;
  }
  .hightlight-card.two .card-item {
    column-gap: 24px;
  }

  /* Header */
  .header .btn-icon {
    display: none;
  }
  .logo img {
    width: 200px;
  }
  .header {
    position: relative;
    height: 120px;
    z-index: 4;
  }
  .header .container {
    padding-block: 0;
    height: 100%;
  }
  .search-container,
  .search-container.active {
    all: unset;
    display: block;
    position: relative;
    width: 500px;
    animation: none;
  }
  .search-bar {
    border-block-end: none;
  }
  .search-bar > .m-icon {
    display: block;
  }
  .search-bar__input,
  .search-container .search-result__list {
    background-color: var(--surface-color);
  }
  .search-bar__input {
    height: 56px;
    border-radius: var(--border-radius-28);
  }
  .search-result,
  .search-container:not(:focus-within) .search-result {
    display: none;
  }
  .search-container:focus-within .search-result.active {
    display: block;
  }
  .search-container:has(.search-result.active):focus-within .search-bar__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .search-container .search-result__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 360px;
    border-radius: 0 0 var(--border-radius-28) var(--border-radius-28);
    border-block-start: 1px solid var(--outline-color);
    overflow-y: auto;
    overflow-y: overlay;
  }
  .search-container .search-result__list:empty {
    min-height: 120px;
  }
  .search-container .search-result__list::-webkit-scrollbar-button {
    height: 20px;
  }
  .search-container:is(:hover, :has(.search-result__list):hover) {
    filter: drop-shadow(var(--box-shadow-1));
  }
  .search-container:is(:focus-within, :has(.search-result__list):focus-within) {
    filter: drop-shadow(var(--box-shadow-2));
  }

  /* Main */
  main {
    height: calc(100vh - 120px);
    height: calc(100svh - 120px);
  }
  article.container {
    grid-template-columns: 360px minmax(0, 1fr);
    gap: 40px;
  }
  .current-weather .weather-icon {
    width: 80px;
    height: 80px;
  }
  .forecast-card .title-2 {
    --fs-title-2: 2.2rem;
  }
  .hightlight-card:nth-child(-n+2) {
    height: 200px;
  }
  .hightlight-card:nth-child(n+3) {
    height: 150px;
  }
  .hightlight-card .m-icon {
    font-size: 4.8rem;
  }
  .slider-list {
    gap: 16px;
  }
}

/* 
 * Large than 1400px screen
 */
@media (min-width: 1500px) {
  .hightlight__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 430px) {
  .header__logo-link {
    display: none;
  }
}